<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <link rel="stylesheet" href="/src/style.css" />
 <title><%= title %></title>
</head>
<body>
 <div class="container-bear">
  <div class="bear-text tooltip-bear">halooo... aku adalah penjaga backend <%= message %></div>
  <div class="box-bear">
   <div class="main">
     <div class="bear">
       <div class="bear__paws">
         <div class="bear__bl-leg leg">
           <div class="bear__bl-paw paw"></div>
           <div class="bear__bl-top top"></div>
         </div>
         <div class="bear__fl-leg leg">
           <div class="bear__fl-paw paw"></div>
           <div class="bear__fl-top top"></div>
         </div>
         <div class="bear__fr-leg leg">
           <div class="bear__fr-paw paw"></div>
           <div class="bear__fr-top top"></div>
         </div>
       </div>
       <div class="bear__body">
         <div class="bear__tail"></div>
       </div>
       <div class="bear__head">
         <div class="bear__snout">
           <div class="bear__eyes">
             <div class="bear__eye-l"></div>
             <div class="bear__eye-r"></div>
           </div>
         </div>
       </div>
       <div class="bear__head-c">
         <div class="bear__ear-r"></div>
         <div class="bear__ear-l"></div>
       </div>
     </div>
   </div>
   <h2>a simple backend endpoint</h2>
   <h4>By Farid Fathoni N</h4>
  </div>
 </div>
 <script>javascript:(function () { var script = document.createElement('script'); script.src="//cdn.jsdelivr.net/npm/eruda"; document.body.appendChild(script); script.onload = function ()
 {eruda.init() } })();</script>
</body>
</html>